.primary-outline {
  border: 2px solid var(--blue);
  color: var(--blue);
}

.primary {
  border: 2px solid var(--blue);
  color: var(--white);
  background-color: var(--blue);
}

.success-outline {
  background-color: transparent;
  border: 2px solid var(--green);
  color: var(--green);
}

.success {
  border: 2px solid var(--green);
  color: var(--white);
  background-color: var(--green);
}

.warning-outline {
  background-color: transparent;
  border: 2px solid var(--warning);
  color: var(--warning);
}

.warning {
  border: 2px solid var(--warning);
  color: var(--white);
  background-color: var(--warning);
}

.danger-outline {
  background-color: transparent;
  border: 2px solid var(--danger);
  color: var(--danger);
}

.danger {
  border: 2px solid var(--danger);
  color: var(--white);
  background-color: var(--danger);
}
.orange {
  border: 2px solid var(--orange);
  color: var(--white);
  background-color: var(--orange);
}
.orange-outline {
  background-color: transparent;
  border: 2px solid var(--orange);
  color: var(--orange);
}
.teal {
  border: 2px solid var(--teal);
  color: var(--white);
  background-color: var(--teal);
}
.teal-outline {
  background-color: transparent;
  border: 2px solid var(--teal);
  color: var(--teal);
}
.purple {
  border: 2px solid var(--purple);
  color: var(--white);
  background-color: var(--purple);
}
.purple-outline {
  background-color: transparent;
  border: 2px solid var(--purple);
  color: var(--purple);
}
.info {
  border: 2px solid var(--info);
  color: var(--white);
  background-color: var(--info);
}
.info-outline {
  background-color: transparent;
  border: 2px solid var(--info);
  color: var(--info);
}
.gray {
  border: 2px solid var(--gray);
  color: var(--white);
  background-color: var(--gray);
}
.gray-outline {
  background-color: transparent;
  border: 2px solid var(--gray);
  color: var(--gray);
}
.dark {
  border: 2px solid var(--dark);
  color: var(--white);
  background-color: var(--dark);
}
.dark-outline {
  background-color: transparent;
  border: 2px solid var(--dark);
  color: var(--dark);
}
.smoke {
  border: 2px solid var(--smoke);
  color: var(--bg-color);
  background-color: var(--smoke);
}
.smoke-outline {
  background-color: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
}
.white-color {
  color: var(--white);
  background-color: transparent;
}

.primary-hover {
  border: 2px solid var(--blue);
  color: var(--blue);
  background-color: transparent;
}

.primary-hover:hover {
  background-color: var(--blue);
  border: 2px solid var(--blue);
  color: var(--white);
}

.success-hover {
  border: 2px solid var(--green);
  color: var(--green);
  background-color: transparent;

}

.success-hover:hover {
  background-color: var(--green);
  border: 2px solid var(--green);
  color: var(--white);
}

.warning-hover {
  border: 2px solid var(--warning);
  color: var(--warning);
  background-color: transparent;

}

.warning-hover:hover {
  background-color: var(--warning);
  border: 2px solid var(--warning);
  color: var(--white);
}

.danger-hover {
  border: 2px solid var(--danger);
  color: var(--danger);
  background-color: transparent;

}

.danger-hover:hover {
  background-color: var(--danger);
  border: 2px solid var(--danger);
  color: var(--white);
}

.orange-hover {
  border: 2px solid var(--orange);
  color: var(--orange);
  background-color: transparent;

}

.orange-hover:hover {
  background-color: var(--orange);
  border: 2px solid var(--orange);
  color: var(--white);
}

.teal-hover {
  border: 2px solid var(--teal);
  color: var(--teal);
  background-color: transparent;

}

.teal-hover:hover {
  background-color: var(--teal);
  border: 2px solid var(--teal);
  color: var(--white);
}

.purple-hover {
  border: 2px solid var(--purple);
  color: var(--purple);
  background-color: transparent;

}

.purple-hover:hover {
  background-color: var(--purple);
  border: 2px solid var(--purple);
  color: var(--white);
}

.info-hover {
  border: 2px solid var(--info);
  color: var(--info);
  background-color: transparent;
}

.info-hover:hover {
  background-color: var(--info);
  border: 2px solid var(--info);
  color: var(--white);
}

.gray-hover {
  border: 2px solid var(--gray);
  color: var(--gray);
  background-color: transparent;
}

.gray-hover:hover {
  background-color: var(--gray);
  border: 2px solid var(--gray);
  color: var(--white);
}

.dark-hover {
  border: 2px solid var(--dark);
  color: var(--dark);
  background-color: transparent;
}

.dark-hover:hover {
  background-color: var(--dark);
  border: 2px solid var(--dark);
  color: var(--white);
}

.smoke-hover {
  border: 2px solid var(--smoke);
  color: var(--bg-color);
  background-color: transparent;
}

.smoke-hover:hover {
  background-color: var(--smoke);
  border: 2px solid var(--smoke);
  color: var(--bg-color);
}
.aliceblue {
  border: 2px solid var(--aliceblue);
  color: var(--bg-color);
  background-color: var(--aliceblue);
}
.aliceblue-outline {
  background-color: transparent;
  border: 2px solid var(--aliceblue);
  color: var(--bg-color);
}
.aliceblue-hover {
  border: 2px solid var(--aliceblue);
  color: var(--bg-color);
  background-color: transparent;
}

.aliceblue-hover:hover {
  background-color: var(--aliceblue);
  border: 2px solid var(--aliceblue);
  color: var(--bg-color);
}




.primary-color {
  color: var(--blue);
}

.success-color {
  color: var(--green);
}

.warning-color {
  color: var(--warning);
}

.danger-color {
  color: var(--danger);
}

.orange-color {
  color: var(--orange);
}

.teal-color {
  color: var(--teal);
}

.purple-color {
  color: var(--purple);
}

.info-color {
  color: var(--info);
}

.gray-color {
  color: var(--gray);
}

.dark-color {
  color: var(--dark);
}

.smoke-color {
  color: var(--bg-color);
}


/* Danger classes */
.highlight-danger {
  border: 2px solid var(--highlight-danger);
  color: var(--white);
  background-color: var(--highlight-danger);
}

.highlight-danger-outline {
  background-color: transparent;
  border: 2px solid var(--highlight-danger);
  color: var(--highlight-danger);
}

.highlight-danger-hover {
  border: 2px solid var(--highlight-danger);
  color: var(--highlight-danger);
  background-color: transparent;
}

.highlight-danger-hover:hover {
  background-color: var(--highlight-danger);
  border: 2px solid var(--highlight-danger);
  color: var(--white);
}

.highlight-danger-color {
  color: var(--highlight-danger);
}

/* Warning classes */
.highlight-warning {
  border: 2px solid var(--highlight-warning);
  color: var(--white);
  background-color: var(--highlight-warning);
}

.highlight-warning-outline {
  background-color: transparent;
  border: 2px solid var(--highlight-warning);
  color: var(--highlight-warning);
}

.highlight-warning-hover {
  border: 2px solid var(--highlight-warning);
  color: var(--highlight-warning);
  background-color: transparent;
}

.highlight-warning-hover:hover {
  background-color: var(--highlight-warning);
  border: 2px solid var(--highlight-warning);
  color: var(--white);
}

.highlight-warning-color {
  color: var(--highlight-warning);
}

/* Primary classes */
.highlight-primary {
  border: 2px solid var(--highlight-primary);
  color: var(--white);
  background-color: var(--highlight-primary);
}

.highlight-primary-outline {
  background-color: transparent;
  border: 2px solid var(--highlight-primary);
  color: var(--highlight-primary);
}

.highlight-primary-hover {
  border: 2px solid var(--highlight-primary);
  color: var(--highlight-primary);
  background-color: transparent;
}

.highlight-primary-hover:hover {
  background-color: var(--highlight-primary);
  border: 2px solid var(--highlight-primary);
  color: var(--white);
}

.highlight-primary-color {
  color: var(--highlight-primary);
}

/* Success classes */
.highlight-success {
  border: 2px solid var(--highlight-success);
  color: var(--white);
  background-color: var(--highlight-success);
}

.highlight-success-outline {
  background-color: transparent;
  border: 2px solid var(--highlight-success);
  color: var(--highlight-success);
}

.highlight-success-hover {
  border: 2px solid var(--highlight-success);
  color: var(--highlight-success);
  background-color: transparent;
}

.highlight-success-hover:hover {
  background-color: var(--highlight-success);
  border: 2px solid var(--highlight-success);
  color: var(--white);
}

.highlight-success-color {
  color: var(--highlight-success);
}

/* Gray classes */
.highlight-gray {
  border: 2px solid var(--highlight-gray);
  color: var(--white);
  background-color: var(--highlight-gray);
}

.highlight-gray-outline {
  background-color: transparent;
  border: 2px solid var(--highlight-gray);
  color: var(--highlight-gray);
}

.highlight-gray-hover {
  border: 2px solid var(--highlight-gray);
  color: var(--highlight-gray);
  background-color: transparent;
}

.highlight-gray-hover:hover {
  background-color: var(--highlight-gray);
  border: 2px solid var(--highlight-gray);
  color: var(--white);
}

.highlight-gray-color {
  color: var(--highlight-gray);
}



.box {
  width: 8rem;
  height: 8rem;
  box-shadow: var(--shadow--light);
  padding: 1rem;
  margin: 1rem;
  border-radius: 50%;
  transition: all 0.4s ease 0.2ms;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
  flex: 1;
}
